@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

h1 {
    font-family:"Roboto";
    font-size: xx-large;
} 
.robotoText {
    font-family:'Roboto';
}
body{
    color: antiquewhite;
    background-color: rgb(1, 3, 2);
    font-size: xx-large;
    font-weight:bold;
    font-family: 'Island Moments', cursive;
    margin-left: 0em;
    padding: 2em;
}
.box{

    border: 6px solid rgb(142, 62, 142);
}

header {
    background-color:rgb(50, 161, 159);
    margin-top: 0em;
}
#work {
    background-color:rgb(126, 166, 16);
    margin: 0em;
    padding: 3em;
}